<div class="container">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <label for="title" class="form-label">Title:</label>
      <input type="text" id="title" formControlName="title" required class="form-control">

      <label for="body" class="form-label">Body:</label>
      <textarea id="body" formControlName="body" required class="form-control mb-3"></textarea>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div *ngIf="successMessage" class="success-message">
      {{ successMessage }}
    </div>
  </div>